* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}
/* ====== Container Style ====== */
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;  /* 16px */
  padding-right: 1rem; /* 16px */
  --container-margin-start: auto;
}
body {
  font-family: 'Almarai', sans-serif;
}


/* ====== Breakpoints ====== */
@media (max-width: 640px) {
  
   :root {
  font-size: 8.5px !important;
}
 
  
}

@media (max-width: 1023px) {
   nav {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  nav.container, 
 
    :root {
  font-size: 9.6px;
}
}


@media (max-width: 1024px) {
  
 
 
  
  
}

@media (max-width: 1280px) {
  
  :root {
  font-size: 13.6px;
  }
}

@media (max-width: 1536px) {

 :root{
    font-size: 12.8px;
  }
  
}

 @media (min-width: 2100px) {
  
  :root{
    font-size: 19.2px;
  }
}

 @media (min-width: 2400px) {
  
  :root{
    font-size: 24px;
  }
}
 @media (min-width: 3200px) {
 
  :root{
    font-size: 32px;
  }
}
 @media (min-width: 4900px) {
  
  :root{
    font-size: 56px;
  }
}
 @media (min-width: 6200px) {
  
  :root{
    font-size: 73px;
  }
}
